* {
  box-sizing: border-box;
}
body { 
  color: rgb(20, 20, 20); 
  font-family: 'Lato', sans-serif;
  font-size: 150%;
  margin: 0 auto; 
  background: #849bff; }
#pageContain  {
  margin: 2%;
  padding: 2%;
  text-align: center;
 }
#pageContain h2, h3, p {
  font-weight: bold;
}
#formContain  {
  padding-top: 2%;
  margin: 0 auto; 
  align-self: center;
  justify-content: center;
}
#formContain label  {
  padding: 15%;
}
#formContain label, input {
  text-align: center;
  width: 100%;
  border: 10%;
}
#submitContain{
  font-size: 75%;
  padding: 5%;
  text-align: center;
  width: 75%;
  margin: 0 auto; 
}